In [1]:
import pandas as pd

df = pd.read_csv("./auto-mpg.csv", header = None)

In [2]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
             'accelation','model year','origin','name']
df.head()

,mpg,cylinders,displacement,horsepower,weight,accelation,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [4]:
mpg_to_kpl = 1.60934 / 3.78541

df['kpl'] = (df['mpg'] * mpg_to_kpl).round(2)
df.kpl.head(3)

0    7.65
1    6.38
2    7.65
Name: kpl, dtype: float64

In [17]:
# 1. 데이터 타입 확인
# 2. NaN 데이터 확인 후 -> 처리
# horsepower 칼럼에 대해서 순서대로 처리

import numpy as np
df.horsepower.unique()
df_hp = df.horsepower.replace('?',np.nan, inplace=True)
df['horsepower'].fillna('0.0', inplace=True)

df.astype({'horsepower':'float'}).dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
accelation      float64
model year        int64
origin            int64
name             object
kpl             float64
dtype: object

In [25]:
df['origin'].unique()
df['origin'].replace({1:'usa', 2:'eu', 3:'japan'}, inplace=True)
df['origin'].unique()
df['origin'] = df['origin'].astype('category')
print(df['origin'].dtypes)

category