In [1]:
nan_deck = df['deck'].value_conunts(dropna=False)
print(nan_deck)

NameError: name 'df' is not defined

In [7]:
print(df.head().isnull())
print(df['deck'].head().isnull())
print("-----------")
print(df.head().notnull)
print("-----------")
print(df.isnull().sum(axis=0))

   survived  pclass    sex    age  sibsp  parch   fare  embarked  class  \
0     False   False  False  False  False  False  False     False  False
1     False   False  False  False  False  False  False     False  False
2     False   False  False  False  False  False  False     False  False
3     False   False  False  False  False  False  False     False  False
4     False   False  False  False  False  False  False     False  False

     who  adult_male   deck  embark_town  alive  alone
0  False       False   True        False  False  False
1  False       False  False        False  False  False
2  False       False   True        False  False  False
3  False       False  False        False  False  False
4  False       False   True        False  False  False
0     True
1    False
2     True
3    False
4     True
Name: deck, dtype: bool
-----------
<bound method DataFrame.notnull of    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True  >
-----------
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
# 누락된 자료가 500개 이상인 자료를 제거
df_1 = df.dropna(axis=1, thresh=500)
df_1.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [10]:
df_2 = df.dropna(subset=['age'], how='any', axis=0)
print(len(df_2))

714

In [11]:
mean_age = df['age'].mean(axis=0)
df_age = df['age'].fillna(mean_age)

#앞의 값으로 수정
df_age_1 = df['age'].fllna(method='ffill')

#가장 빈번한 값으로 수정
most_cnt = df['age'].value_counts(dropna=True).idmax()
df_age_2 = df['age'].fillna(most_cnt)

In [12]:
df_age.isnull().sum(axis=0)

0

In [15]:
# 중복 데이터 처리
import pandas as pd

df = pd.DataFrame({'c1':['a','a','b','a','b'],
                  'c2':[1,1,1,2,2],
                  'c3':[1,1,2,2,2]})
print(df)
print()
df_dup = df.duplicated() # 행의 중복 체크
print(df_dup)
print()

#측정 열의 중복체크
df['c1'].duplicated()

#데이터 프레임에서 중복행을 제거
df2 = df.drop_duplicates()
print(df2)

#특정열을 기준으로 행을 제거
df2 = df.drop_duplicates(subset=['c2','c3'])
df2

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

0    False
1     True
2    False
3    False
4    False
dtype: bool

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2