In [2]:
import tensorflow as tf

In [14]:
a = tf.constant(5)
b = tf.constant(2)
c = tf.constant(3)

d = tf.multiply(a,b)
e = tf.add(b,c)
f = tf.subtract(d,e)

print(f)

tf.Tensor(5, shape=(), dtype=int32)

In [15]:
a = tf.Variable(5)
b = tf.Variable(2)
c = tf.Variable(3)

d = tf.multiply(a,b)
e = tf.add(b,c)
f = tf.subtract(d,e)

print(f)

tf.Tensor(5, shape=(), dtype=int32)

In [18]:
import numpy as np

a = tf.Variable(5)
b = tf.Variable(2)
c = np.array(3)

d = tf.multiply(a,b)
e = tf.add(b,c)
f = tf.subtract(d,e)

print(f)

tf.Tensor(5, shape=(), dtype=int32)

In [21]:
x = tf.Variable(0)

for i in range(1,11):
  x = x+i
  print("value : {}".format(x))

print("total sum : {}".format(x))

value : 1
value : 3
value : 6
value : 10
value : 15
value : 21
value : 28
value : 36
value : 45
value : 55
total sum : 55

In [33]:
# 랜덤 변수 선언
a = tf.Variable(tf.random.normal((1,1), mean = 0, stddev=1.0))
b = tf.Variable(tf.random.normal((1,1), mean = 0, stddev=1.0))
c = tf.Variable(tf.random.normal((1,1), mean = 0, stddev=1.0))

a = tf.Variable(5)
b = tf.Variable(2)
c = np.array(3)

d = tf.multiply(a,b)
e = tf.add(b,c)
f = tf.subtract(d,e)

print("add_result = {}".format(e))
print("mul_result = {}".format(d))
print("sub_result = {}".format(f))

add_result = 5
mul_result = 10
sub_result = 5

In [29]:
x1 = tf.Variable([[1,2],[3,4]])

print('x1 = {}'.format(x1))
print('x1 = {}'.format(x1.shape))

x1 = <tf.Variable 'Variable:0' shape=(2, 2) dtype=int32, numpy=
array([[1, 2],
       [3, 4]], dtype=int32)>
x1 = (2, 2)

In [30]:
x1_reshape = tf.reshape(x1, [1,4])
print(x1_reshape)

tf.Tensor([[1 2 3 4]], shape=(1, 4), dtype=int32)