In [1]:
import pandas as pd

file_path = "./sample_to_csv.csv"

df = pd.read_csv(file_path)
print(df)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [2]:
save_file_path = "./sample_to_csv.csv"
df.to_csv(save_file_path)

save_file_path = "./sample_to_csv.csv"
df.to_csv(save_file_path, index=None)

read_csv(옵션,...)
- path = 파일의 위치를 포함한 파일명
- sep = 필드를 구분하는자 ','
- header = 헤더가 정의 되있는지 None
- index_col = 인덱스로 사용 할 컬럼 None 은 인덱스 없음
- names = 칼럼 이름으로 사용 될 문자열 리스트
- skiprows = 첫 행부터 스킵하고자 하는 행 수
- skip_footer = 마지막 행부터 스킵하고자 하는 행 수
- encoding = 텍스트 인코딩 종류를 지정 'utf-8'

In [47]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

# age가 평균 age보다 적은 데이터를 가져와서 save_titanic.csv에 저장(인덱스 빼고)


df_copy = [] # 칼럼명을 리스트로
avg_age = titanic.age.sum() / titanic.age.count()

for i, age in enumerate(df.age):
    if age < avg_age:
        df_copy.append(titanic.iloc[i])

pd.DataFrame(df_copy).to_csv("./titanic_save_file1.csv", index=None)

In [46]:
data_type = titanic.dtypes
column_names = titanic.columns

columns = []
for idx, dtype in enumerate(data_type):
    if dtype in ['float64', 'int64']:
        columns.append(column_names[idx])
        
titanic_select = titanic.loc[:, columns]
titanic_select.to_csv('./titanic_save_file.csv', index=None)

In [51]:
df = pd.read_json("./read_json_sample.json")
df.index

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [57]:
url = "./sample.html"
tables = pd.read_html(url)
print(tables)
len(tables)

for i in range(len(tables)):
    print("table {}".format(i))
    print(table[i])
    print("\n")

df = tables[1]
df.set_index(['name'], inplace=True)

df1 = tables[0]
df1.set_index(['c0'], inplace=True)

df1

[   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9,          name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True]
table 0
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


table 1
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

    Unnamed: 0  c1  c2  c3
c0
0            0   1   4   7
1            1   2   5   8
2            2   3   6   9

In [58]:
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.5.3.tar.gz (32 kB)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\tamia\anaconda3\lib\site-packages (from googlemaps) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tamia\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\tamia\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tamia\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tamia\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.12.5)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.5.3-py3-none-any.whl size=38459 sha256=77ce0887c5abfa7744f34b84ea23d0d41bb3732d64be7c5f5113c7240a71f319
  Stored in directory: c:\users\tamia\appdata\local\pip\cache\wheels\f7\54\d6\ec34a2c6e62e4a8dace614a9a617bff39b7cccfb337cc36c98
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.5.3

In [59]:


import googlemaps
import pandas as pd

# my_key = "----발급받은 API 키를 입력-----"

# 구글맵스 객체 생성하기
maps = googlemaps.Client(key='AIzaSyBhMr1XeliRMaUGATRvlDYDl2A0jcH4b44')  # my key값 입력

lat = []  #위도
lng = []  #경도

# 장소(또는 주소) 리스트
places = ["서울시청", "국립국악원", "해운대해수욕장"]

i=0
for place in places:
    i = i + 1
    try:
        print(i, place)
        # 지오코딩 API 결과값 호출하여 geo_location 변수에 저장
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])

    except:
        lat.append('')
        lng.append('')
        print(i)

# 데이터프레임으로 변환하기
df = pd.DataFrame({'위도':lat, '경도':lng}, index=places)
print('\n')
print(df)

1 서울시청
1
2 국립국악원
2
3 해운대해수욕장
3


        위도 경도
서울시청
국립국악원
해운대해수욕장

In [ ]:
#문 seaborn 에서 dataset "iris"를 불러와서
# 1. 'species'컬럼을 인덱스로 설정
# 2. 나머지 데이터의 합과 평균을 데이터 프레임에 추가
# 3. 변경된 데이터를 파일에 csv 형식으로 저장
# 4. 저장된 파일을 프로그램으로 불러 옴
# 5. 불러온 데이터를 출력해서 확인

In [91]:
import pandas as pd
import seaborn as sns

iris_df = sns.load_dataset('iris')


iris_df.set_index('species', inplace=True)

total = []
avg = []
for idx in range(len(iris_df)):
    total.append(iris_df.iloc[idx].sum())
    avg.append(iris_df.iloc[idx].sum()/len(iris_df.iloc[idx]))

iris_df['total'] = total
iris_df['avg'] = avg

iris_df.to_csv("./iris_sample.csv")
iris2 = pd.read_csv("./iris_sample.csv")
print(iris2)

       species  sepal_length  sepal_width  petal_length  petal_width  total  \
0       setosa           5.1          3.5           1.4          0.2   10.2
1       setosa           4.9          3.0           1.4          0.2    9.5
2       setosa           4.7          3.2           1.3          0.2    9.4
3       setosa           4.6          3.1           1.5          0.2    9.4
4       setosa           5.0          3.6           1.4          0.2   10.2
..         ...           ...          ...           ...          ...    ...
145  virginica           6.7          3.0           5.2          2.3   17.2
146  virginica           6.3          2.5           5.0          1.9   15.7
147  virginica           6.5          3.0           5.2          2.0   16.7
148  virginica           6.2          3.4           5.4          2.3   17.3
149  virginica           5.9          3.0           5.1          1.8   15.8

       avg
0    2.550
1    2.375
2    2.350
3    2.350
4    2.550
..     ...
145  4.300
146  3.925
147  4.175
148  4.325
149  3.950

[150 rows x 7 columns]